<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inqb8.ansteph.oasis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.GlobalRetainer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bd5e725a5ba4820e8068afcc3893bb8bf07a1ad0"
            tools:replace="android:value" />

        <activity android:name=".testzone.Mapboxtest" />
        <activity
            android:name=".ngo.CategoryList"
            android:label="@string/title_activity_category_list"
            android:parentActivityName=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.Splash" />
        </activity>
        <activity
            android:name=".mapping.Welcome"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".school.SchoolList"
            android:label="@string/title_activity_school_list"
            android:parentActivityName=".mapping.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.Welcome" />
        </activity>
        <activity
            android:name=".ngo.NGOList"
            android:label="@string/title_activity_ngolist"
            android:parentActivityName=".ngo.CategoryList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.ngo.CategoryList" />
        </activity>
        <activity
            android:name=".ngo.NGODetail"
            android:label="@string/title_activity_ngodetail"
            android:parentActivityName=".ngo.NGOList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.ngo.NGOList" />
        </activity>
        <activity
            android:name=".school.SchoolDetail"
            android:label="@string/title_activity_school_detail"
            android:parentActivityName=".school.SchoolList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.school.SchoolList" />
        </activity>
        <activity
            android:name=".mapping.SchoolMap"
            android:label="@string/title_activity_school_map"
            android:parentActivityName=".mapping.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.Welcome" />
        </activity>
        <activity
            android:name=".mapping.NGOMap"
            android:label="@string/title_activity_ngomap"
            android:parentActivityName=".mapping.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.Welcome" />
        </activity>
        <activity
            android:name=".ngo.NGOProgramme"
            android:label="@string/title_activity_ngoprogramme"
            android:parentActivityName=".ngo.NGODetail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.ngo.NGODetail" />
        </activity>

        <provider
            android:name=".contentprovider.WorkAreaContentProvider"
            android:authorities="inqb8.ansteph.oasis.contentprovider.workareacontentprovider" />
        <provider
            android:name=".contentprovider.OrganisationContentProvider"
            android:authorities="inqb8.ansteph.oasis.contentprovider.organisationcontentprovider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".contentprovider.SchoolContentProvider"
            android:authorities="inqb8.ansteph.oasis.contentprovider.schoolcontentprovider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".contentprovider.GeneralInfoContentProvider"
            android:authorities="inqb8.ansteph.oasis.contentprovider.generalinfocontentprovider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".contentprovider.CityContentProvider"
            android:authorities="inqb8.ansteph.oasis.contentprovider.citycontentprovider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".contentprovider.ProvinceContentProvider"
            android:authorities="inqb8.ansteph.oasis.contentprovider.provincecontentprovider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".contentprovider.SuburbContentProvider"
            android:authorities="inqb8.ansteph.oasis.contentprovider.suburbcontentprovider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ngo.WorKAreaList"
            android:label="@string/title_activity_wor_karea_list"
            android:parentActivityName=".mapping.NGOMap"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.NGOMap" />
        </activity>
        <activity
            android:name=".toolkit.Previewer"
            android:label="@string/title_activity_previewer"
            android:parentActivityName=".toolkit.ToolkitItemDetail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.toolkit.ToolkitItemDetail" />
        </activity>
        <activity
            android:name=".registration.EmailPassword"
            android:label="@string/title_activity_email_password"
            android:parentActivityName=".mapping.Welcome"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.Welcome" />
        </activity>
        <activity
            android:name=".registration.ExtraInfo"
            android:label="@string/title_activity_extra_info"
            android:parentActivityName=".mapping.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.Welcome" />
        </activity>
        <activity
            android:name=".toolkit.ToolKitList"
            android:label="@string/title_activity_tool_kit_list"
            android:parentActivityName=".mapping.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.Welcome" />
        </activity>
        <activity
            android:name=".toolkit.ToolkitItemDetail"
            android:label="@string/title_activity_toolkit_item_detail"
            android:parentActivityName=".toolkit.ToolKitList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.toolkit.ToolKitList" />
        </activity>
        <activity
            android:name=".website.WebsiteView"
            android:label="@string/title_activity_website_view"
            android:parentActivityName=".mapping.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.Welcome" />
        </activity>

        <provider
            android:name=".contentprovider.ProgrammeContentProvider"
            android:authorities="inqb8.ansteph.oasis.contentprovider.programmecontentprovider"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".intro.WelcomePage" />

        <provider
            android:name=".contentprovider.Organisation_SchoolContentProvider"
            android:authorities="inqb8.ansteph.oasis.contentprovider.organisationschoolcontentprovider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".toolkit.ToolKitLineView"
            android:label="@string/title_activity_tool_kit_line_view"
            android:parentActivityName=".mapping.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.Welcome" />
        </activity>
        <activity
            android:name=".feedback.Feedback"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".mapping.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inqb8.ansteph.oasis.mapping.Welcome" />
        </activity>
    </application>

</manifest>